.header {
  $this: &;
  position: relative;
  z-index: 10;
  background-color: #fff;

  color: $color-typo-primary;
  fill: $color-typo-primary;

  &--transparent {
    background-color: transparent;
    color: $color-typo-secondary;
    fill: $color-typo-secondary;

    #{$this}_burger{
      span {
        background-color: $color-typo-secondary;
      }
    }
  }

  &_container {
    padding: 0;
    width: 100%;
    max-width: 100%;

    display: flex;

    justify-content: space-between;
    align-items: center;

    @media(min-width: 1440px){
      max-width: 1260px;
      width: 100%;
    }

  }


  &_left {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    @media(min-width: 1024px){
      width: calc(184px + 104px);
      flex-direction: row;
      justify-content: normal;
    }
  }

  &_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    @media(min-width: 1024px) {
      padding-right: 24px;
      margin: 0;
      max-width: 740px;
      justify-content: flex-end;
    }
  }


  &_burger {
    @include transitionHover;
    position: relative;
    background-color: transparent;
    border: none;
    max-width: 72px;
    width: 100%;
    height: 64px;
    transform: rotate(0deg);
    cursor: pointer;

    @media(min-width: 1024px){
      height: 88px;
      max-width: 104px;
    }

    @media(min-width: 1440px) {
      margin-left: -84px;
    }

    &:hover {
      span {
        background-color: $color-bg-secondary;
      }
    }

    span {
      display: block;
      position: absolute;
      height: 2px;
      width: 40px;
      background-color: $color-typo-primary;
      opacity: 1;
      left: 50%;
      transform: rotate(0deg) translateX(-50%);
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 27px;

        @media(min-width: 1024px){
          top: 39px;
        }
      }

      &:nth-child(2) {
        top: 35px;
        @media(min-width: 1024px){
          top: 47px;
        }
      }
    }

    &.open span {
      background-color: $color-bg-dark;
    }

    &.open span:nth-child(1) {
      left: 22%;
      top: 50%;
      transform: rotate(135deg) translateX(0);

      @media(min-width: 1024px){
        left: 30%;
      }
    }

    &.open span:nth-child(2) {
      left: 22%;
      top: 50%;
      transform: rotate(-135deg) translateX(0);

      @media(min-width: 1024px){
        left: 30%;
      }
    }

  }

  &_logo-wrapper {
    max-width: 112px;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: $color-bg-secondary;
    text-align: center;
    height: 64px;
    svg {
      width: 49px;
      height: 35px;
      @media(min-width: 1024px) {
        width: 62px;
        height: 45px;
      }
    }
    @media(min-width: 1024px) {
      height: auto;
      max-width: 184px;
      padding-top: 20px;
      padding-bottom: 19px;
    }

  }

  &_phone-wrapper {
    margin-right: 14%;
    color: inherit;
    fill: inherit;
  }

  &_search-wrapper {
    margin-right: 15%;
  }

  &_search-button {
    @extend .button;
    @extend .text_size-m;
    @extend .text_font-root;
    @include transitionHover;
    color: inherit;
    fill: inherit;
    padding: 0;

    &:hover {
      color: $color-typo-brand;
      fill: $color-typo-brand;
    }
  }

  &_social-list-wrapper {
    margin-right: 8%;
    height: 40px;

    .social-links_link {
      color: inherit;
      fill: inherit;

      &:hover {
        color: $color-typo-brand;
        fill: $color-typo-brand;
      }
    }
  }

  &_lang-switcher-wrapper {
    .lang-switcher_label {
      color: inherit;
      fill: inherit;

      &:hover {
        color: $color-typo-brand;
        fill: $color-typo-brand;
      }
    }
  }


  &_menu-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    display: none;
    padding-top: 32px;
    padding-bottom: 80px;
    min-height: 100px;
    background-color: $color-bg-default;

    @media(min-width: 1024px) {
      padding-top: 52px;
    }
    &--active {
      display: block;
    }
  }

  &_menu-item {
    margin-bottom: 16px;
  }

  &_menu-left {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    @media(min-width: 1024px) {
      width: 475px;
      margin-bottom: 0;
      padding-left: 78px;
    }
    @media(min-width: 1440px) {
      padding-left: 16px;
      width: calc(100% - 701px);
    }
  }

  &_menu-right {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 16px;
    padding-right: 16px;
    @media(min-width: 1024px) {
      margin-bottom: 0;
      width: calc(100% - 475px);
    }
    @media(min-width: 1440px) {

      max-width: 701px;
      width: 100%;
    }
  }

}
