.award-card {
  $this: &;
  &_wrapper {
    @include transitionHover;
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 42px;
    color: $color-typo-primary;
    background-color: $color-bg-primary;
    cursor: pointer;

    @media(min-width: 768px){
      min-height: 328px;
    }

    &:hover {
      background-color: $color-typo-brand;
      color: $color-typo-secondary;

      #{$this}_detail {
        opacity: 1;
      }
      #{$this}_icon {
        fill: $color-typo-secondary;
      }
    }
  }

  &_icon {
    fill: $color-typo-brand;
    margin-bottom: 30px;
    text-align: center;
  }

  &_title {
    @extend .text_font-root;
    @extend .text_size-m;
    text-align: center;
    color: inherit;
    margin-bottom: 40px;
  }

  &_bottom {
    display: flex;
    align-items: baseline;
  }

  &_year {
    @extend .text_font-root;
    @extend .text_size-m;
    text-align: left;
    color: inherit;
    width: 50%;
  }

  &_detail {
    @extend .text_font-object;
    @extend .text_size-s;
    opacity: 0;
    text-align: right;
    color: inherit;
    width: 50%;
  }
}
