.search-popup-text-field {
  $this: &;

  @extend .text_font-object;
  width: 100%;
  border: 0;
  font-weight: 800;
  color: $color-typo-primary;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  padding-left: 40px;
  height: 55px;

  @media(min-width: 768px)
  {
    font-size: 48px;
    line-height: 64px;
    padding-left: 24px;
    height: 64px;
  }


  &:focus {
    & + #{$this}_placeholder {
      opacity: 0;
      z-index: -1;
    }
  }

  &_wrapper {
    position: relative;
    display: block;
    max-width: 1000px;
    width: 100%;

    @media(min-width: 768px) {
      padding-left: 24px;
      padding-right: 24px;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      height: 2px;
      width: 100%;
      background-color: #E5E5E5;
    }

  }

  &_icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 12px;
    left: 0;

    @media(min-width: 768px)
    {
      width: 40px;
      height: 40px;
      top: 14px;
      left: 0;
    }
  }

  &_placeholder {
    @extend .text_font-object;
    position: absolute;
    top: 16px;
    left: 40px;
    color: $color-typo-primary;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    &--hidden {
      z-index: -1;
      opacity: 0;
    }
    @media(min-width: 768px)
    {
      left: 46px;
      top: 0;
      font-size: 48px;
      line-height: 64px;
    }

  }
}
