.social-links {

  &_list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
  }

  &_item {
    padding: 8px;
  }

  &_link {
    display: block;
    width: 24px;
    height: 24px;
    text-align: center;
    @include transitionHover;
  }

  &_icon {
    fill: inherit;
  }
}
