.contact-role {
  $this: &;

  &_item {
    border-bottom: 1px solid $color-base-gray;

    &--active {

      #{$this}_item-toggle-icon {
        &:after {
          transform: rotate(0deg);
        }
      }

    }

  }

  &_item-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    cursor: pointer;
  }

  &_item-toggle-icon {
    position: relative;

    width: 48px;
    padding-left: 16px;
    padding-right: 16px;


    &:after, &:before {
      content: '';
      position: absolute;
      width: 16px;
      height: 2px;
      background-color: $color-bg-dark;
    }

    &:after {
      transform: rotate(90deg);
    }

  }

  &_item-content {
    padding-bottom: 20px;
  }
}


.contact-main {
  $this: &;
  &_item {
    @include transitionHover;
    position: relative;
    width: 100%;
    z-index: 0;
    border-bottom: 1px solid $color-base-gray;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 48px;
    padding-bottom: 48px;
    color: $color-link-secondary;
    cursor: pointer;
    &:hover {

      color: $color-typo-secondary;

      #{$this}_item-bg-wrap {
        opacity: 1;
      }

    }

  }

  &_item-bg-wrap {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    z-index: -1;
    opacity: 0;
    &_item-bg-img {
      min-height: 100%;
    }
  }

}
