.checkbox {
  $this: &;

  &_container {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
  }

  &_box {
    background-color: #F0F0F0;
    width: 24px;
    height: 24px;
    position: relative;
  }

  &_check {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  }

  &_label {
    width: calc(100% - 40px);
    margin-left: 16px;
  }

  &_checkbox {
    position: absolute;

    &:checked {
      & + #{$this}_box {
        #{$this}_check {
          opacity: 1;
        }
      }
    }
  }

}
